html{
  scroll-behavior: smooth;
}

body{
  background-color: rgb(173, 172, 172);
  font-family: 'Open Sans', sans-serif;

}
/* PORTFOLIO SPECIFIC STYLING */

.projects ul{
  list-style-type: none;
  text-align: center;
  margin: auto;
}
.business ul{
  list-style-type: none;
  text-align: center;
  margin: auto;
}
.holder-portfolio{
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 1fr 5fr 1fr 5fr 1fr; 
}

.preprobus{
  margin-top: 3%;
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/2;
  color: #00274C;
  font-size: 30px;
  line-height: 1.2;
}

.holder-portfolio .projects{
  color: #00274C;
  font-size: 20px;
  grid-column: 2/3;
  grid-row: 2/3;
  line-height: 2;
}

.holder-portfolio .business{
  color: #00274C;
  font-size: 20px;
  grid-column: 2/3;
  grid-row: 4/5;
  line-height: 2;
}

.holder-portfolio .projects .protitle{
  font-size: 30px;
  grid-row: 1/2;
}

.holder-portfolio .business .bustitle{
  font-size: 30px;
  grid-row: 3/4;
}

/* ABOUT ME SPECIFIC STYLING */
.accs{
  text-align: center;
  margin: auto;
}

.xplane .indycards .flip-card{
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

*:visited{
  text-decoration: none;
}

.first{
  margin: 10px;
  color:#00274C;
  text-align:center;
  font-size: 20px;
  line-height: 1.25;
  margin-left: 12%;
  margin-right: 12%;
}

.second{
  margin: 10px;
  margin-top: 300px;
  color: #00274C;
  text-align: center;
  font-size: 25px;

}


header h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 300px; 
  background-image: url(../imgs/try.jpg);
  background-repeat: no-repeat;
  
}

header h1 .projectstitle{
  color:#FFCB05;
  background-color: #00274C;
  border: 4px solid #FFCB05;
  margin: auto;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 60px;
  text-align: center;
}
header h2{
  font-family: 'Alegreya Sans SC', sans-serif;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  color:#00274C;
}

body .pre4{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 30px;
  color: #00274C;
  text-align: center;
  margin-top: 15px;
}

nav li{
  display: inline;
  padding-right: 20px;
}

nav ul li a{
  color: #FFCB05;
  font-family: 'Alegreya Sans SC', sans-serif;

}

nav ul li a:hover{
  text-decoration: double;
}

nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #00274C;
  padding: 10px 0;
  color: #FFCB05;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 900;
}

nav div.babylogo img{
  height: 40px;
  width: 40px;
  margin-left: 15px;
  align-self: flex-end;
  justify-self: flex-end;
}

main .holder-index{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 8;
}

body h2.ncw{
  text-align:center;
  margin: auto;
  margin-top: 5%;
  color: #00274C;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 40px;
}

body h2.funcontent{
  text-align:center;
  margin-top: 4%;
  margin: auto;
  color: #00274C;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 40px;
}

header h1 .coursestitle{
  color:#FFCB05;
  background-color: #00274C;
  border: 4px solid #FFCB05;
  margin: auto;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 60px;
  text-align: center;
}

body dl .classimg .flip-card{
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* The flip card container*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    z-index: -1;
    display: flex;
    margin: 15px;
    border: solid #FFCB05 2px;
    background-color: #FFCB05;
  }

  #resume{
    display: block;
    height: 300px;
    width: 300px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
  }
  #resume:active {
    position:relative;
    margin: auto;
    width:35%;
    height:45%;
    display:block;
    z-index:999;
}
  
body .intro{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #00274C;
  text-align: center;
  margin-top: 15px;
}

.container{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
.container .gallery {
  grid-row-start: 2;
  grid-row-end: 3
  grid-column-start: ;
}
.container .gallery img{
  border:3px solid #FFCB05;
  margin: 1%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.container .gallery img:active{
  object-fit: cover;
  position:relative;
  margin: auto;
  width:600px;
  height:600px;
  display:block;
  z-index:999;
}
header h1 .funtitle{
  color:#FFCB05;
  background-color: #00274C;
  border: 4px solid #FFCB05;
  margin: auto;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 60px;
  text-align: center;
}
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    z-index: -1;
  }
  
  /* Do a horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    z-index: -1;
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    z-index: -1;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #00274C;
    color: #FFCB05;
    z-index: -1;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #00274C;
    color: #FFCB05;
    transform: rotateY(180deg);
    z-index: -1;
    line-height: 1.2;
  }


  footer{
      display: flex;
      justify-content: center;
      align-content: baseline;
      background-color: #00274C;
      color: #FFCB05;
      padding-top: 30px;
  }

  .skip a{
    background: #00274C;
    color: #FFCB05;
    left: 0;
    padding: 6px;
    z-index: 50;

  
    /* Requirement 3a code here*/
    position: absolute;
  
  }
  

  .skip a:focus{
    position: absolute;
    top: 90px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
  }
  
  
  *:focus{
    border: 2px;
    border-style: solid;
  }

  .active{
    background-color: white;
    color: red;
    font-weight: bolder;
    border: 4px solid red;
  }
  

  @media screen and (min-width: 760px){
    .container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;  
    }

  }


  @media screen and (min-width: 980px){
    .container{
      display: grid;
      grid-row-gap: 3%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;  
    }

    
  }

  @media screen and (prefers-reduced-motion: reduce){
    
    html{
        scroll-behavior: auto; 
        /* I dont think I actually need this because my skip to content never worked the way I intended */
    }
  
    
    .skip a{
      -webkit-transition: initial;
      transition: initial; 
    }
    header{
      background-attachment: initial;
    }
  }